{{- $fullName := include "hindsight.fullname" . -}}
{{- if semverCompare ">=1.14-0" .Capabilities.KubeVersion.GitVersion -}}
apiVersion: networking.k8s.io/v1beta1
{{- else -}}
apiVersion: extensions/v1beta1
{{- end }}
kind: Ingress
metadata:
  name: {{ $fullName }}
  labels:
    {{- include "hindsight.labels" . | nindent 4 }}
{{- if or .Values.ingress.annotations .Values.global.ingress.annotations }}
  annotations:
{{- if .Values.ingress.annotations }}
{{ toYaml .Values.ingress.annotations | trim | indent 4 }}
{{- end }}
{{- if .Values.global.ingress.annotations }}
{{ toYaml .Values.global.ingress.annotations | trim | indent 4 }}
{{- end }}
{{- end }}
spec:
{{- if .Values.ingress.tls }}
  tls:
  {{- range .Values.ingress.tls }}
    - hosts:
      {{- range .hosts }}
        - {{ . | quote }}
      {{- end }}
      secretName: {{ .secretName }}
  {{- end }}
{{- end }}
  rules:
  - host: {{ .Values.ingress.host | required "ingress.host must be set" }}
    http:
      paths:
    {{- range .Values.ingress.paths }}
      - path: {{ .path | quote }}
        backend:
          serviceName: {{ $fullName }}-{{ .name }}
          servicePort: {{ (index $.Values .name).service.port }}
    {{- end }}
