orchestrate:
  replicaCount: 1
receive:
  replicaCount: 1
  service_udp:
    port: 6790
  service:
    port: 80
gather:
  replicaCount: 1
broadcast:
  replicaCount: 1
  service:
    port: 80
persist:
  replicaCount: 1
acquire:
  replicaCount: 1
  service:
    port: 80
define:
  replicaCount: 1
  service:
    port: 80
  resource:
    requests:
      cpu: 250m
      memory: 256Mi
    limits:
      cpu: 250m
      memory: 256Mi
strimzi:
  enabled: true
  kafka:
    replicaCount: 3
    storage:
      enabled: false
      size: ""
  zookeeper:
    storage:
      enabled: false
      size: ""
redis:
  usePassword: false
  cluster:
    enabled: false
nginx-ingress:
  controller:
    metrics:
      enabled: true
    service:
      type: LoadBalancer
prometheus-operator:
  enabled: false
  prometheusOperator:
    namespaces:
      releaseNamespace: true
      additional:
        - kube-system
image:
  repository: inhindsight/hindsight
  tag: ""
  pullPolicy: Always

global:
  objectStore:
    bucketName: ""
  ingress: {}

imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""

serviceAccount:
  create: true
  annotations: {}
  name:

podSecurityContext: {}
securityContext: {}

cert_manager:
  enabled: false

ingress:
  annotations:
    nginx.ingress.kubernetes.io/use-regex: "true"
    cert-manager.io/cluster-issuer: "letsencrypt-issuer"
  host: ""
  tls:
    - hosts:
        - ""
      secretName: "acme-cert"
  paths:
    - name: acquire
      path: "/api/v[0-9]+/data/.*"
    - name: broadcast
      path: "/socket/websocket"
    - name: define
      path: "/define-socket/websocket"
    - name: define
      path: "/"

resources: {}
nodeSelector: {}
tolerations: []
affinity: {}
