orchestrate:
  replicaCount: 1
receive:
  replicaCount: 1
  service:
    type: ClusterIP
    port: 80
  service_tcp:
    type: ClusterIP
    port: 6790
gather:
  replicaCount: 1
broadcast:
  replicaCount: 1
  service:
    type: ClusterIP
    port: 80
persist:
  replicaCount: 1
acquire:
  replicaCount: 1
  service:
    type: ClusterIP
    port: 80
presto:
  service:
    type: NodePort
    port: 8080
strimzi:
  enabled: true
  kafka:
    replicaCount: 3
    storage:
      enabled: false
      size: ""
    resources:
      requests:
        cpu: 500m
        memory: 1000M
      limits:
        cpu: 500m
        memory: 1000M
  zookeeper:
    resources:
      requests:
        cpu: 10m
        memory: 512Mi
      limits:
        cpu: 100m
        memory: 512Mi
redis:
  enabled: true
  usePassword: false
  cluster:
    enabled: false
  externalAddress: ""

image:
  repository: inhindsight/hindsight
  tag: ""
  pullPolicy: Always

global:
  objectStore:
    minio:
      enabled: true
      port: 9000
      scheme: "http://"
    bucketName: ""
    region: local
    accessKey: hindsightAccessKey
    accessSecret: hindsightAccessSecret

imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""

serviceAccount:
  create: true
  annotations: {}
  name:

podSecurityContext: {}
securityContext: {}

ingress:
  enabled: false
  annotations: {}
  hosts:
    - host: chart-example.local
      paths: []
  tls: []

resources: {}
nodeSelector: {}
tolerations: []
affinity: {}
