receive:
  service:
    type: ClusterIP
  service_udp:
    type: ClusterIP
broadcast:
  service:
    type: ClusterIP
acquire:
  service:
    type: ClusterIP
resources:
  requests:
    cpu: 500m
    memory: 512Mi
  limits:
    cpu: 500m
    memory: 512Mi

global:
  objectStore:
    region: "us-east-2"
    accessKey: ""
    accessSecret: ""
    minio:
      enabled: false

# Subchart configuration is namespaced under the subchart's name
# as a top-level key. For example, the Certificate Manager's subchart is
# configured under the cert_manager key.

strimzi:
  kafka:
    storage:
      enabled: true
      size: 100Gi
    resources:
      jvm:
        xms: 4g
        xmx: 4g
      requests:
        cpu: 500m
        memory: 8Gi
      limits:
        cpu: 1000m
        memory: 8Gi
  zookeeper:
    storage:
      enabled: true
      size: 1Gi
    resources:
      requests:
        cpu: 100m
        memory: 512Mi
      limits:
        cpu: 250m
        memory: 512Mi

redis:
  enabled: false
  externalAddress: ""

nginx-ingress:
  controller:
    service:
      annotations:
        service.beta.kubernetes.io/aws-load-balancer-connection-idle-timeout: "3600"
      type: LoadBalancer

prometheus-operator:
  enabled: true
  prometheus:
    ingress:
      enabled: true
    prometheusSpec:
      storageSpec:
        volumeClaimTemplate:
          spec:
            storageClassName: gp2
            accessModes: ["ReadWriteOnce"]
            resources:
              requests:
                storage: 100Gi
          selector: {}
  alertmanager:
    ingress:
      enabled: true
  grafana:
    ingress:
      enabled: true

presto:
  postgres:
    enable: false
    service:
      externalAddress: ""
    db:
      user: ""
      password: ""

cert_manager:
  enabled: true

vernemq:
  enabled: false
  persistentVolume:
    size: 25Gi
  replicaCount: 3
  service:
    type: LoadBalancer
  serviceMonitor:
    enabled: true
  additionalEnv:
    - name: DOCKER_VERNEMQ_LISTENER__TCP__ALLOWED_PROTOCOL_VERSIONS
      value: "3,4,5"
    - name: DOCKER_VERNEMQ_LISTENER__SSL__ALLOWED_PROTOCOL_VERSIONS
      value: "3,4,5"
