receive:
  service_udp:
    type: LoadBalancer
  service:
    type: ClusterIP
broadcast:
  service:
    type: ClusterIP
acquire:
  service:
    type: ClusterIP
ingress:
  host: hindsight.local
  tls: []
global:
  objectStore:
    bucketName: hindsight-object-storage
    region: local
    accessKey: hindsightAccessKey
    accessSecret: hindsightAccessSecret
    minio:
      enabled: true
      port: 9000
      scheme: "http://"

# Subchart configuration is namespaced under the subchart's name
# as a top-level key. For example, the Certificate Manager's subchart is
# configured under the cert_manager key.

strimzi:
  kafka:
    resources:
      requests:
        cpu: 500m
        memory: 512Mi
      limits:
        cpu: 500m
        memory: 512Mi
  zookeeper:
    resources:
      requests:
        cpu: 10m
        memory: 512Mi
      limits:
        cpu: 100m
        memory: 512Mi

redis:
  enabled: true
  externalAddress: ""
nginx-ingress:
  controller:
    service:
      type: LoadBalancer

presto:
  presto:
    ingress:
      enable: true
      annotations:
        nginx.ingress.kubernetes.io/use-regex: "true"
      hosts: [storage.hindsight.local/ui]
  minio:
    ingress:
      enable: true
      annotations:
        nginx.ingress.kubernetes.io/use-regex: "true"
      hosts: [storage.hindsight.local/minio.*]
vernemq:
  enabled: true
  service:
    type: LoadBalancer
  additionalEnv:
    - name: DOCKER_VERNEMQ_LISTENER__TCP__ALLOWED_PROTOCOL_VERSIONS
      value: "3,4,5"
    - name: DOCKER_VERNEMQ_LISTENER__SSL__ALLOWED_PROTOCOL_VERSIONS
      value: "3,4,5"
    - name: DOCKER_VERNEMQ_ALLOW_ANONYMOUS
      value: "on"
    - name: DOCKER_VERNEMQ_USER_HINDSIGHT
      value: "hindsight"
